html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family:"Muli", sans-serif !important;
	background-color: #FFFCF5;
	color: #000;
	min-height: 73vh;
	padding-bottom: 2vh;
}

main {
	margin: 0 2vw;
}

footer p {
	clear: both;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#navbar {
	background-color: #F47D4A;
}

#navbar a {
	color: #fff !important;
	font-weight: bold;
}

.movie-details h2 {
	font-size: 2em;
	font-weight:900;
}

.movie-details h3 {
	font-size: 1em;
	font-variant: small-caps;
	font-weight: 900;
	margin: 10px 0;
}
.movie-details p {
	font-size: 1.3em;
	font-weight:700;
	margin: 5px 0;
}

.movie-details ul {
	margin-top:5px;
}
.movie-details li {
	list-style-type: none;
	display: inline-block;
	padding:0;
	margin:0;
	font-size: 1.3em;
	font-weight:700;
}
.movie-details li::after {
    content: ", ";
}

.movie-details li:last-child::after {
    content: " ";
}

.control-group {
	margin:0 !important;
}

/*#movieCreateForm {
	margin: 0 2vw;
}*/

